.back-ss {
  background-image: url("../../../assets/alq_bg.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.back-ss::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.back-ss > * {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .back-ss {
    background-repeat: no-repeat;
    background-size: 260%;
    background-position-y: 13%;
  }
}
