@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-dark: ;
  --bg-color-light: ;
  --padding-x: 8rem;
  --padding-y: 4rem;
}

@media (max-width: 768px) {
  :root {
    --padding-x: 4rem;
  }
}
