.image-bg-srv {
  background-image: url("../../../assets/factory.jpg");
  background-size: contain;
}
@media (max-width: 768px) {
  .image-bg-srv {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
