.image-bg-srv {
  background-image: url("../../../assets/alq_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-image-fab {
  background-image: url("../../../assets/soldador.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .image-bg-srv {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
  }
}
