.imagen-bg {
  background-image: url("../../../assets/home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .imagen-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
  }
}
