.imagen-bg {
  background-image: url("../../../assets/soldador.jpeg");
  background-size: contain;
}
@media (max-width: 768px) {
  .imagen-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
  }
}
