.imagen-bg {
  background-image: url("../../../assets/bg-index.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .imagen-bg {
    background-size: cover;
    background-position: 20;
  }
}
