/* lateral.css */

.container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: var(--bg-color-light);
}

.panel {
  flex: 0 0 100vw; /* Asegura que cada panel ocupe el 100% del ancho del viewport */
  height: 100vh;
  background-color: var(--bg-color-dark);
}
